{% extends "layout.html" %}

{% block body %}

    <h1>Register</h1>

    <from action="/register" method="post">

        <input autocomplete="off" autofocus placeholder="Type your name" name="name" type="text">
        <select name="sport">
            <option value="cricket">cricket</option>
            <option value="Football">Football</option>
            <option value="Vollyball">Vollyballt</option>
            <option value="Tennis">Tennis</option>
            <option value="Dogeball">Dogeball</option>
        </select>
        <input type="submit" value="Register">
    </from>

{% endblock %}